{% extends 'main/layout.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
{% load static %}
<main class="main_nas">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <div class="container">
        <section class="about-us">
            <h1>О нас</h1>
            <p>Добро пожаловать в наш магазин обуви! Мы рады предложить вам широкий ассортимент качественной обуви на любой вкус и для любого случая.</p>
            <h2>Наша История</h2>
            <p>Наш магазин был основан в 2024 году с целью предоставить нашим клиентам лучшую обувь по доступным ценам. За год работы мы накопили богатый опыт и зарекомендовали себя как надежного поставщика.</p>
            <h2>Наша Миссия</h2>
            <p>Мы стремимся предоставить нашим клиентам не только качественную обувь, но и высокий уровень сервиса. В нашем ассортименте вы найдете обувь для мужчин, женщин и детей, а также аксессуары для ухода за обувью.</p>
            <h2>Почему Выбирают Нас</h2>
            <ul>
                <li>1. Широкий ассортимент обуви</li>
                <li>2. Высокое качество продукции</li>
                <li>3. Доступные цены</li>
                <li>4. Отличное обслуживание клиентов</li>
                <li>5. Удобная доставка и возврат</li>
            </ul>
            <h2>Свяжитесь с Нами</h2>
            <p>Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами. Мы всегда рады помочь!</p>
        </section>
    </div>
</main>
{% endblock %}