{% extends 'main/layout.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
<main class="main_nas">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <div class="container">
        <section class="about-us">
            <h1>О нас</h1>
            <p>Добро пожаловать в StepMaster – ваш надежный магазин обуви! Мы предлагаем качественную, стильную и удобную обувь для всех возрастов и на любой сезон.</p>
            
            <h2>Почему выбирают нас?</h2>
            <ul>
                <li><strong>Качество:</strong> только проверенные бренды и надежные материалы.</li>
                <li><strong>Доступные цены:</strong> акции, скидки и программы лояльности для наших клиентов.</li>
                <li><strong>Удобная доставка:</strong> быстрая доставка по всей стране с возможностью возврата.</li>
            </ul>
        </section>

        <section class="contact-form-wrapper">
            <div class="contact-form">
                <h2>Свяжитесь с нами</h2>
                <p>Если у вас есть вопросы, предложения или пожелания – напишите нам, и мы обязательно ответим!</p>
                <form method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Ваше имя:</label>
                        <input type="text" id="name" name="name" >
                    </div>
        
                    <div class="form-group">
                        <label for="email">Ваш email:</label>
                        <input type="email" id="email" name="email" >
                    </div>
        
                    <div class="form-group-1">
                        <label for="message">Ваше сообщение:</label>
                        <textarea id="message" name="message" rows="3" required></textarea>
                    </div>
        
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </section>
    </div>
</main>
{% endblock %}
