{% extends "main/layout.html" %}
{% load static %}
{% block title %}Главная страница {% endblock %}

{% block content %}
<main class="main">
    <section class="main_hero-glav">
        <div class="container">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="swiper-slide-p">Лучшие персонализированные предложения</p>
                        <h1 class="swiper-slide-h">Распродажа <br> Nike 🔥</h1>
                        <p class="swiper-slide-p2">На этой неделе у Nike проходит грандиозная распродажа <br> с
                            большими скидками на всю коллекцию! </p>
                        <a class="swiper-slide-a popup-link" href="#popup"><button
                                class="swiper-slide-btn">Заказать</button></a>
                        <img class="swiper-slide_rigth_sneaker" src="{% static 'main/img/whiteSneaker.png' %}" alt="">
                        <img class="swiper-slide_rigth_ornament" src="{% static 'main/img/Ornament.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p class="swiper-slide-p">Лучшие персонализированные предложения</p>
                        <h1 class="swiper-slide-h">Распродажа <br> Nike 🔥</h1>
                        <p class="swiper-slide-p2">На этой неделе у Nike проходит грандиозная распродажа <br> с
                            большими скидками на всю коллекцию! </p>
                        <a class="swiper-slide-a popup-link" href="#popup"><button
                                class="swiper-slide-btn">Заказать</button></a>
                        <img class="swiper-slide_rigth_sneaker" src="{% static 'main/img/whiteSneaker.png' %}" alt="">
                        <img class="swiper-slide_rigth_ornament" src="{% static 'main/img/Ornament.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p class="swiper-slide-p">Лучшие персонализированные предложения</p>
                        <h1 class="swiper-slide-h">Распродажа <br> Nike 🔥</h1>
                        <p class="swiper-slide-p2">На этой неделе у Nike проходит грандиозная распродажа <br> с
                            большими скидками на всю коллекцию! </p>
                        <a class="swiper-slide-a popup-link" href="#popup"><button
                                class="swiper-slide-btn">Заказать</button></a>
                        <img class="swiper-slide_rigth_sneaker" src="{% static 'main/img/whiteSneaker.png' %}" alt="">
                        <img class="swiper-slide_rigth_ornament" src="{% static 'main/img/Ornament.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p class="swiper-slide-p">Лучшие персонализированные предложения</p>
                        <h1 class="swiper-slide-h">Распродажа <br> Nike 🔥</h1>
                        <p class="swiper-slide-p2">На этой неделе у Nike проходит грандиозная распродажа <br> с
                            большими скидками на всю коллекцию! </p>
                        <a class="swiper-slide-a popup-link" href="#popup"><button
                                class="swiper-slide-btn">Заказать</button></a>
                        <img class="swiper-slide_rigth_sneaker" src="{% static 'main/img/whiteSneaker.png' %}" alt="">
                        <img class="swiper-slide_rigth_ornament" src="{% static 'main/img/Ornament.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
    </section>
    <section class="collection_sale">
        <div class="container">
            <p class="collection_sale-p">Избранные коллекции</p>
            <div class="collection_sale-list">
                <div class="collection_sale-item">
                    <div class="collection_sale-item-text">
                        <p class="collection_sale-item-p">
                            30% OFF
                        </p>
                        <h2 class="collection_sale-item-h">
                            Новый выпуск <br> Supreme
                        </h2>
                        <a href="#popup" class="popup-link">
                            <button class="collection_sale-item-btn">
                                Заказать
                            </button>
                        </a>
                    </div>
                    <img class="collection_sale-item-img-fut" src="{% static 'main/img/starWarsStormTrooperSupreme.png' %}"
                        alt="">
                </div>
                <div class="collection_sale-item">
                    <div class="collection_sale-item-text">
                        <p class="collection_sale-item-p">
                            30% OFF
                        </p>
                        <h2 class="collection_sale-item-h">
                            Коллекция <br> Adidas
                        </h2>
                        <a href="#popup" class="popup-link">
                            <button class="collection_sale-item-btn">
                                Заказать
                            </button>
                        </a>
                    </div>
                    <img class="collection_sale-item-img-sneaker" src="{% static 'main/img/sneakerGray.png' %}" alt="">
                </div>
                <div class="collection_sale-item">
                    <div class="collection_sale-item-text">
                        <p class="collection_sale-item-p">
                            30% OFF
                        </p>
                        <h2 class="collection_sale-item-h">
                            Новый <br> бас Beats
                        </h2>
                        <a href="#popup" class="popup-link">
                            <button class="collection_sale-item-btn">
                                Заказать
                            </button>
                        </a>
                    </div>
                    <img class="collection_sale-item-img-wirels" src="{% static 'main/img/trueWirles.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="produtos">
        <div class="container">
            <div class="produtos-text">
                <p class="produtos-text-p">Популярные товары</p>
                <a href="{% url 'tovar' %}" class="produtos-text-a">Показать все →</a>
            </div>
            <div class="works__items items-works produtos_list">
                <div class="items-works__body">
                    {% for product in popular_products|slice:":4" %}
                    <a href="{% url 'product_detail' product.id product.slug %}" class="items-works__item popup-link">
                        <div class="produtos_item">
                            <div class="produtos_item-up">
                                {% if product.price and product.discount_price %}
                                    <p class="produtos_item-up-p">{{ product.discount_percent }}% OFF</p>
                                {% endif %}
                                <img class="produtos_item-up-img-sale" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>
                            <div class="produtos_item-down">
                                <span class="produtos_item-down-span items-works__item">{{ product.category.name }}</span>
                                <a href="{% url 'product_detail' product.id product.slug %}" class="produtos_item-down-a items-works__item">{{ product.name }}</a>
                                <a href="{% url 'product_detail' product.id product.slug %}" class="produtos_item-down-a-sale items-works__item">
                                    {% if product.discount_price %}
                                        <font class="font_sale">${{ product.price }}</font>${{ product.discount_price }}
                                    {% else %}
                                        ₽{{ product.price }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="oferts">
        <div class="container">
            <div class="oferts_all">
                <img class="oferts_img" src="{% static 'main/img/sneakerOferts.png' %}" alt="">
                <div class="oferts_text">
                    <p class="oferta-span">Специальное предложение</p>
                    <h2 class="oferta-h">Коллекционное издание <br> Air Jordan</h2>
                    <p class="oferta-p">Эксклюзивные модели, созданные для тех, кто ценит уникальный стиль и высокое
                        качество.</p>
                    <a href="#popup" class="popup-link"><button class="oferta-btn">Заказать</button></a>

                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}