{% extends "main/layout.html" %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<div class="profile-container">
    <h1 class="profile-title">Профиль пользователя: {{ user.username }}</h1>

    <!-- Профиль пользователя -->
    <p class="profile-info"><strong>Имя пользователя:</strong> {{ user.username }}</p>
    <p class="profile-info"><strong>Телефон:</strong> {% if profile.phone_number %}{{ profile.phone_number }}{% else %}Не указан{% endif %}</p>
</div>

<!-- История заказов -->
<div class="orders-container">
    <h2 class="orders-title">История заказов</h2>
    {% if orders %}
        <ul class="orders-list">
        {% for order in orders %}
            <li class="order-item">
                <p class="order-info">{{ order.created_at }}</p>
                <p class="order-info"><strong>Цена:</strong> {{ order.total_price }}</p>
                <p class="order-info"><strong>Товары:</strong> {{ order.products }}</p>
                <form action="{% url 'delete_order' order.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">Удалить заказ</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="profile-info">У вас нет заказов.</p>
    {% endif %}
</div>

{% endblock %}
